extends ./layout

block css
  link(href='../css/style.css', rel='stylesheet')

block content
  .container#indexBG
    br
    .jumbotron
      h1 Welcome to Kitty Litters
      h3 The site where you can trade a kitten from your litter for a kitten from mine
      img(src= "http://www.tehcute.com/pics/201110/marshmellow-kitten.jpg")
      img(src= "http://dreamatico.com/data_images/kitten/kitten-7.jpg")

block js
  script(src='../js/main.js')