extends ./layout

block css
    link(href='../css/style.css', rel='stylesheet')

block content
    .container#profileEditBG
      h1 Edit Profile
      hr
      .row
        // left column
        .col-md-3
          .text-center
            img.avatar.img-circle(src='http://orig15.deviantart.net/5470/f/2010/105/4/5/random_person_by_vurtov.jpg', alt='avatar')
            h6 Link a photo url!
            input.form-control#urlInput(type='text')
            h3 My Kitties
            .kittyDisplay
              h5 Mittens
              h5 likes yarn, catnip, snuggling and going on walks
              img(src= "http://www.plupetstore.com/wp-content/uploads/2015/08/l-Newborn-kitten.jpg")
        // edit form column
        .col-md-9.personal-info
          h3 Personal info
          form.form-horizontal(role='form')
            .form-group
              label.col-lg-3.control-label Name:
              .col-lg-8
                input.form-control#nameInput(type='text', placeholder='John Doe')
            .form-group
              label.col-lg-3.control-label Email:
              .col-lg-8
                input.form-control#emailInput(type='text', placeholder='youremail@gmail.com')
            .form-group
              label.col-md-3.control-label
              .col-md-8
                input.btn.btn-primary#saveProfile(type='button', value='Save Changes')
                span
                input.btn.btn-default#cancel(type='reset', value='Back to Profile')
            .form-group
              h3 Kitty info
              label.col-md-3.control-label Add Kitties to your collection:
              .col-md-8
                input.form-control#itemNameInput(type='text', placeholder='kitty name')
                input.form-control#itemURLInput(type='text', placeholder='kitty image url')
                input.form-control#itemDescriptionInput(type='text', placeholder='description of kitty')
                input.btn.btn-primary#items(type='button', value='Add Ktties') 



block js
    script(src='../js/main.js')
    script(src='../js/profileEdit.js')