extends ./layout

block css
  link(href='../css/style.css', rel='stylesheet')

block content

    .container-fluid.well.span6#profileBG
      .row-fluid
        .span2
          img.img-circle#picture(src='http://orig15.deviantart.net/5470/f/2010/105/4/5/random_person_by_vurtov.jpg')
        .span8
          h1#username username
          h2#name name
          h2#email email
        .span2
          button.btn.btn-default
            a(href='/profile/profileEdit')
              span.icon-wrench
              |  Edit Profile
          button.btn.btn-default
            a(href='/trade')
              span.icon-wrench
              |  See Trades
        <hr>
        .row
          .col-sm-6.scrollable
            h2 My Kittens:
            table 
              tbody#userItemsOnly 
                each item in items
                  .item
                    button.byeKitty.btn.btn-danger(data-id= item._id.toString()) Remove Kitty
                    button.tradeKitty.btn.btn-danger(data-id= item._id.toString()) Trade Kitty
                    p.item0Name= item.name
                    p.item0Description= item.description
                    div
                      img.item0Pic(src= item.url)
          //- .col-sm-6.scrollable
          //-   button.decline.btn.btn-danger(data-id= item._id.toString()) Decline Trade
          //-   button.accept.btn.btn-danger(data-id= item._id.toString()) Accept Trade
          //-   .row
          //-     .col-sm-6
          //-       h2 Trade:
          //-       table 
          //-         tbody#kitty1
          //-           each item in trades.kitty1
          //-             .mtkitties
          //-               p.item0Name= item.name
          //-               p.item0Description= item.description
          //-               div
          //-                 img.item0Pic(src= item.url)
          //-     .col-sm-6
          //-       h2 For:
          //-       table 
          //-         tbody#kitty2
          //-           each item in trades.kitty2
          //-             .otkitties
          //-       button.decline.btn.btn-danger(data-id= item._id.toString()) Decline Trade
          //-       button.accept.btn.btn-danger(data-id= item._id.toString()) Accept Trade
          //-               p.item0Name= item.name
          //-               p.item0Description= item.description
          //-               div
          //-                 img.item0Pic(src= item.url)



block js
  script(src='../js/main.js')
  script(src='../js/login.js')
  script(src='../js/profile.js')