extends ./layout

block css
  link(href='../css/style.css', rel='stylesheet')

block content

    .container-fluid.well.span6#profileBG
      .row-fluid
        .span2
          img.img-circle#picture(src='http://orig15.deviantart.net/5470/f/2010/105/4/5/random_person_by_vurtov.jpg')
        .span8
          h1#username username
          h2#name name
          h2#email email
        .span2
          button.btn.btn-default
            a(href='/profile/profileEdit')
              span.icon-wrench
              |  Edit Profile
          button.btn.btn-default
            a(href='/trade')
              span.icon-wrench
              |  See Trades
        <hr>
        .row
          .col.sm.6
            h2 My Kittens:
            table 
              tbody#userItemsOnly 
                each item in items
                  tr.item0
                    button.byeKitty.btn.btn-danger(data-id= item._id) Bye Bye Kitty
                    p.item0Name= item.name
                    p.item0Description= item.description
                    div
                      img.item0Pic(src= item.url)
        //-     .col.sm.6
        //-       h2 Proposed Trades:
        //-       table 
        //-         tbody#userItemsOnly 
        //-           tr#item0 
        //-             p#item0Name Muffin
        //-             p#item0Description likes to play in dirt and eat bugs. Good mouser
        //-             div
        //-               img#item0Pic(src= "https://kittybloger.files.wordpress.com/2012/01/hello-kitty.jpg")
        //-               button accept Trade
        //-               button decline Trade


block js
  script(src='../js/main.js')
  script(src='../js/login.js')
  script(src='../js/profile.js')