extends ./layout

block css
  link(href='../css/style.css', rel='stylesheet')

block content

    .container-fluid.well.span6#profileBG
      .row-fluid
        .span2
          img.img-circle#picture(src='http://orig15.deviantart.net/5470/f/2010/105/4/5/random_person_by_vurtov.jpg')
        .span8
          h1#username username
        .span2
          button.btn.btn-default
            a(href='/profile/profileEdit')
              span.icon-wrench
              |  Edit Profile
        <hr>
        .row
          .col.sm.6
            h2 My Kittens:
            table 
              tbody#userItemsOnly 
                each item in uItems
                    p.item0Name= item.name
                    p.item0Description= item.description
                    div
                      img.item0Pic(src= item.url)
          .col.sm.6
            h2 Other Kittens:
            table 
              tbody#otherItemsOnly 
                each item in oItems
                  tr.item0
                    p.item0Name= item.name
                    p.item0Description= item.description
                    div
                      img.item0Pic(src= item.url)
          .col.sm.12 click on your kitty and another kitty to propose a trade
          .col.sm.12.tradingMat 



block js
  script(src='../js/main.js')
  script(src='../js/login.js')
  script(src='../js/profile.js')