
extends ./layout

block css
    link(href='../css/style.css', rel='stylesheet')

block content
    #containsItems
      | .
      .row
        .col-sm-6#myTradable
          h2 My Kittens:
          table 
            tbody#userItemsOnly 
              tr#item0 
                p#item0Name Mittens
                p#item0Description likes yarn, catnip, snuggling and going on walks
                div
                  img#item0Pic(src= "http://www.plupetstore.com/wp-content/uploads/2015/08/l-Newborn-kitten.jpg")
        .col-sm-6#myTradable
          h2 Other Kittens:
          table 
            tbody#userItemsOnly 
              tr#item0 
                p#item0Name Buttons
                p#item0Description likes to play with buttons, chasing laser pointers, cuddling with puppies
                div
                  img#item0Pic(src= "http://i.huffpost.com/gen/810548/original.jpg")
      .row
        .col-sm-12
          .tradingMat Propose a trade here
          button send trade request
            
      //- each item in user.items if (items.tradeable === true)
      //-       .myTradeItems(data-id= item._id class= user.name)= item.name
      //-         p= item.description
      //-         img(src= item.url)
      //-         p(data-id= user._id)= user.name
      //-   .col-sm-6#othersTradable each item in items if (tradeable === item:not(hasClass("user.name"))
      //-       .othersTradeItems(data-id= item._id)= item.name
      //-         p= item.description
      //-         img(src= item.url)
      //-         p(data-id= user._id)= user.name   
      //- .row#tradingMat
      //-   .col-sm-5#myItem
      //-   .col-sm-5#othersItem
      //-   .col-sm-1#tradeButton
      //-     button#sendTrade

block js
        script(src='../js/trade.js')
        srcipt(src="../js/main.js")
        script(src='../js/login.js')
        script(src='../js/profile.js')