extends ./layout

block css
  link(href='../css/style.css', rel='stylesheet')

block content

    .container-fluid.well.span6#profileBG
      .row-fluid
        .span2
          img.img-circle#picture(src='http://orig15.deviantart.net/5470/f/2010/105/4/5/random_person_by_vurtov.jpg')
        .span8
          h1#username username
        .span2
          button.btn.btn-default
            a(href='/profile/profileEdit')
              span.icon-wrench
              |  Edit Profile
        <hr>
        .row
          .col-xs-6
            h2 My Kittens:
            table 
              tbody#userItemsOnly 
                each item in uItems
                  .myKitty(data-id= item._id.toString())
                    p.kittyName= item.name
                    p.kittyDescription= item.description
                    div
                      img.kittyPic(src= item.url)
          .col-xs-6
            h2 Other Kittens:
            table 
              tbody#otherItemsOnly 
                each item in oItems
                  .otherKitty(data-id= item._id.toString())
                    p.kittyName= item.name
                    p.kittyDescription= item.description
                    div
                      img.kittyPic(src= item.url)
          .col-xs-12 Click on your kitty and another kitty and place inside the blue boxes to propose a trade.
          .col-xs-12.tradingMat
            .row
              .col-xs-6.yourKittyMat Your Kitty
              .col-xs-6.otherKittyMat Other Kitty
            .row
              button#proposeTrade Propose Kitty Trade





block js
  script(src='../js/main.js')
  script(src='../js/login.js')
  script(src='../js/profile.js')
  script(src='../js/trade.js')