body {
  background-color: #F3FAB6;
  text-align: center;
}

input {
  display: block;
}

img {
  height: 120px;
  width: 120px;
}

span {
  color: white;
}

#indexBG {
  background-color: #F3FAB6;
}

#profileBG {
  background-color: #CBE32D;
}

#profileEditBG {
  background-color: #A8CD1B;
}

.kittyDisplay {
  border: 2px solid pink;
}

.tradingMat {
  border: 2px solid pink;
  margin-right: 10%;
  margin-left: 10%;
  height: 250px;
  width: 80%;
}

tr{
	height: 50px;
	width: 50px;
	background-color: orange;
}

.trade {
  border: 3px dashed green;
}